@import "tailwindcss";

@theme {
    --font-sans: var(--font-geist-sans);
    --font-serif: var(--font-fraunces);
    --font-mono: var(--font-geist-mono);

    --color-background: #050505;
    --color-foreground: #EDEDED;
    --color-grid: #262626;
}

:root {
    --background: #050505;
    --foreground: #EDEDED;
}

/* Base Reset */
body {
    background-color: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
    cursor: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera GLOBALLY */
::-webkit-scrollbar {
    display: none;
}

/* Link Reset */
a {
    color: inherit;
    text-decoration: none;
}

/* Utility */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}